.contact{
    /* border: 1px solid white; */
    margin-top: 80rem;
    width: 55%;
}
.contact h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Playpen Sans', cursive;
    border-bottom: 0.5rem red solid;
    width: 28rem;
}

.cont-sum p{
    font-size: 3.5rem;
    font-family: 'Tilt Neon', sans-serif;
    text-align: justify;
    margin-left: 5rem;
    margin-top: 2rem;
}
.email i{
  margin-left: 15rem;
  margin-top: 0.5rem;
  font-size: 4rem;
  display: inline;
  float: left;
}
.email span{
  font-family: 'Tilt Neon', sans-serif;
  margin-left: 3rem;
  font-size: 3.5rem;
}
.email p{
    margin: 15rem;
    font-size: 5rem;
    font-family: 'Tilt Neon', sans-serif;
    font-weight: 1000;
    color: red;
}
form {
  width: 60%;
  /* position: absolute; */
  margin-top: -65rem;
  margin-left: 153rem;
}

.feedback-input {
  color:white;
  font-family: 'Tilt Neon', sans-serif;
  font-weight:500;
  /* font-size: 2rem; */
  border-radius: 5px;
  line-height: 1;
  background-color: transparent;
  border:0.2rem solid #ffffff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 2rem;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:0.2rem solid #ff0000; }

textarea {
  height: 15rem;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#ff4444;
  border-radius:10px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:4rem;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#ff0000; }


.btn{
  position: fixed;
  /* display: none; */
  bottom: 40px;
  right: 6px;
  font-size: 3.5rem;
  border-radius: 3rem 0 0 3rem;
  border: none;
  outline: none;
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer;
  padding: 0.9rem 1.65rem;
  border-radius: 50px;
}
.rights{
    text-align: center;
    /* width: 30%; */
    /* margin: 100rem 0; */
    font-size: 3rem;   
    font-family: 'Tilt Neon', sans-serif;
}

@media screen and (max-width: 600px){
  .contact{
    width: 100%;
  }
  .contact h1{
    font-size: 3.5rem;
    width: 25rem;
  }
  .cont-sum p{
    margin: 1rem;
  }
  .email p{
    margin: 5rem 15rem;
  }
  form{
    width: 95%;
    margin: 0 3rem;
    position:static;
    margin-top: 0;
  }
  .feedback-input{
    padding:2rem;
  }
  .btn{
    opacity: 0;
  }
  .rights{
    margin-top: 4rem;
  }
}
@media screen and (max-width:414px){
  .email i{
    margin-left: 10rem;
  }
  .email p{
    margin-left: 10rem;
  }
}

@media screen and (max-width: 320px){
  .email i{
    margin-left: 5rem;
  }
  .email p{
    margin-left: 5rem;
  }
}
@media screen and (min-width:601px){
  .contact{
    margin-top: 60rem;
  }
  .email p{
    margin-top: 10rem;
  }
  form {
    margin-top: -70rem;
    margin-left: 115rem;
  }
}

@media screen and (min-width:1024px){
  form {
    margin-top: -60rem;
    margin-left: 120rem;
  }
  .feedback-input{
    font-size: 3rem;
  }
}
@media screen and (min-width:1440px){
  .contact{
    margin-top: 75rem;
  }
  form {
    margin-top: -60rem;
    margin-left: 155rem;
  }
}
@media screen and (min-width:1600px){
  form {
    margin-top: -60rem;
    margin-left: 140rem;
  }
}
@media screen and (min-width:2560px){
  .cont-sum p{
    margin-top: 4rem;
  }
  form {
    margin-left: 190rem;
  }
}
